@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap");

form {
  padding: 16px;
  width: 320px;
  margin: 0 auto;
}

button,
input {
  font-family: "Montserrat", sans-serif;
  border: 0;
  outline: 0;
  font-size: 16px;
  border-radius: 320px;
  padding: 16px;
  background-color: #ebecf0;
  text-shadow: 1px 1px 0 #fff;
}

label {
  display: block;
  margin-bottom: 24px;
  width: 100%;
}

input {
  margin-right: 8px;
  box-shadow: inset 2px 2px 5px #babecc, inset -5px -5px 10px #fff;
  width: 100%;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  appearance: none;
  text-align: center;

  &:focus {
    box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
  }
}

button {
  width: 100%;
  margin-top: 24px;
  color: #666a7b;
  font-weight: 500px;
  letter-spacing: 3px;
  box-shadow: -5px -5px 20px #fff, 5px 5px 20px #babecc;
  transition: all 0.2s ease-in-out;
  cursor: pointer;

  &:hover {
    box-shadow: -2px -2px 5px #fff, 2px 2px 5px #babecc;
    color: green;
  }

  &:active {
    box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
  }
  &:disabled {
    color: red;
    cursor: not-allowed;
  }
}

.errorLabel {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-top: 10px;
  color: red;
}
